.cuadradoMaestro {
    height: 20em;
    width: 20em;
    background-color: black;

    display: flex; 
    justify-content:center;
    align-items:center;

}
.rectanguloLeft {
    height: 20em;
    width: 10em;
    background-color: white;

    }

.rectanguloRight {
    height: 20em;
    width: 10em;
    background-color: black;
        
    }   
       
    
.cuadradoHijo1{
    height: 10em;
    width: 10em;
    border: black 0.1em solid;
}

.cuadradoHijo2{
    height: 10em;
    width: 10em;
    background-color:white ;
    border: black 0.1em solid;

    display: flex;
    flex-direction: row;
}

.rectanguloNieto1{
    height: 5em;
    width: 10em;
    background-color: black;
}

.rectanguloNieto2{
    height: 5em;
    width: 10em;
}

.cuadradoBis1 {
    height: 5em;
    width: 5em;
    background-color: black;
}

.cuadradoBis2 {
    height: 5em;
    width: 5em;
    background-color: white;
}


.cuadradoBis3 {
    height: 5em;
    width: 5em;
    background-color: white;
}


.cuadradoBis4 {
    height: 5em;
    width: 5em;
    background-color: black;
}
