.cuadradoMaestro {
    height: 20em;
    width: 20em;
    background-color: black;

    display: flex; 
    justify-content:center;
    align-items:center;

    flex-direction: column-reverse;


}

.rectanguloSup {
    height: 10em;
    width: 20em;
    background-color: yellow    
    }

.rectanguloInf {
    height: 10em;
    width: 20em;
    background-color: red;
        
        }     

/*.nieto1 {
    height: 10em;
    width: 5em;
    background-color: black;

    display: flex;
    flex-direction: column;

}

.nieto2 {
    height: 5em;
    width: 10em;
    background-color: yellow;

    display: flex;
    flex-direction: column;
    
}



.bisnieto1 {

    height:2.5em;
    width: 5em;
    background-color: pink;

}

.bisnieto2 {

    height:2.5em;
    width: 5em;
    background-color: orange;
    
}

.bisnieto3 {

    height:2.5em;
    width: 5em;
    background-color: yellow;

}

.bisnieto4 {

    height:5em;
    width: 2.5em;
    background-color: orange;
    
}